<div class="photos-show-main">
    
    <div class="photos-show-box">
      <h2 class="photos-show-title">
        <%= @photo.title %>
      </h2>

      <div class="photos-image-content">
        <% @photo.images.each do |image| %>
          <%= image_tag image, class:"photos-show-image" %>    
        <% end %>
      </div>
      <div class="photos-show-memo" >
        <%= @photo.memo %>
      </div>
    </div>

     <div class='edit-btn-wrapper'>
      <%= link_to "edit", edit_photo_path(@photo), class:"edit-btn" %>
     </div> 
    <div class="delete-btn-wrapper">
       <%= link_to "delete", photo_path(@photo), data: { turbo_method: :delete}, class: "delete-btn" %>
    </div>
 
</div>